.navi{
    display: table;
    padding: 10px;
    font-size: 20px;
    font-family: Brush Script MT;
}

.container {
    height: calc(100vh - 40px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

.nav-container{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translate(50%, -25px);
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius:50px;
    animation: 0.3s ease-out 0s 1 slideInFromBottom;
    background-color:white
}
@keyframes slideInFromBottom {
    0% {
      transform: translateX(50%);
    }
    100% {
        transform: translate(50%, -25px);
    }
  }

.hide-container {
display: none 
}

.items{
    padding:20px 25px;
}