.container-holder{
    max-width:400px;
    margin-left:auto;
    margin-right:auto;

}
.selector{
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    width:100%;
}

.error{
    font-size: 12px;
    color: red;
    }



.my-textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: none;
    margin: 0px;
    height: 199px;
}


.btnMe{
    background-color: lightblue;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 1.5px 4px rgba(0,0,0,0.24), 0 1.5px 6px rgba(0,0,0,0.12);
}
.btnMe:hover{
    box-shadow: 0 3px 12px rgba(0,0,0,0.23), 0 3px 12px rgba(0,0,0,0.16);
}

.uploading{
    width:100%;
    height: 3px;
    background-color: green
}