.error{
    font-size: 12px;
    color: red;
    }

.selector{
    border: 1px solid #eee;
    display: inline-block;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    width:100%;
}

.btnMeBack{
    font-weight:500;
    min-width:40px;
    width:auto;
    color:white;
    background-color: #3473b8;
    margin: 20px 0px;
    box-shadow: 0 1.5px 4px rgba(0,0,0,0.24), 0 1.5px 6px rgba(0,0,0,0.12);
}
.btnMeBack:hover{
    box-shadow: 0 3px 12px rgba(0,0,0,0.23), 0 3px 12px rgba(0,0,0,0.16);
}